<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Log In</title>
</head>
<body>
    <div id="logInformDiv">
        <form action="http://localhost:3000/loging_In" method="post">
            <p>Please enter your:</p>
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username">
            <br><br>
            <label for="password" >Password:</label>
            <input type="text" name="password">
            <br><br>
                <button id="logIn">Log In</button>
        </form>
        <button id="register">Register</button>
    </div>

    <div id="registerFormDiv"></div>

    <script src="script.js"></script>

</body>
</html>